<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552887583862-ai9ntk0219p68c237sn5jlg61l9d9bgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552887583862-ai9ntk0219p68c237sn5jlg61l9d9bgk</string>
	<key>API_KEY</key>
	<string>AIzaSyC_M6KpzXgdYz1tlGSb6jcEd6DQrTndnBE</string>
	<key>GCM_SENDER_ID</key>
	<string>552887583862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseauth</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-2305</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-2305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552887583862:ios:db6613152f2fa50b7dcb57</string>
</dict>
</plist>